## Step 1. Import the necessary libraries

In [66]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## Step 2. Import the dataset

In [67]:
df = pd.read_csv('2021-2022.csv')
df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,PSH,PSD,PSA,WHH,WHD,WHA,VCH,VCD,VCA,MaxH,MaxD,MaxA,AvgH,AvgD,AvgA,B365>2.5,B365<2.5,P>2.5,P<2.5,Max>2.5,Max<2.5,Avg>2.5,Avg<2.5,AHh,B365AHH,B365AHA,PAHH,PAHA,MaxAHH,MaxAHA,AvgAHH,AvgAHA,B365CH,B365CD,B365CA,BWCH,BWCD,BWCA,IWCH,IWCD,IWCA,PSCH,PSCD,PSCA,WHCH,WHCD,WHCA,VCCH,VCCD,VCCA,MaxCH,MaxCD,MaxCA,AvgCH,AvgCD,AvgCA,B365C>2.5,B365C<2.5,PC>2.5,PC<2.5,MaxC>2.5,MaxC<2.5,AvgC>2.5,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/2021,20:00,Brentford,Arsenal,2,0,H,1,0,H,M Oliver,8,22,3,4,12,8,2,5,0,0,0,0,4.00,3.40,1.95,4.00,3.50,1.95,3.80,3.40,2.05,4.05,3.46,2.05,4.00,3.40,1.90,4.10,3.40,2.00,4.62,3.72,2.10,4.02,3.43,2.02,2.10,1.72,2.22,1.73,2.26,1.83,2.16,1.73,0.50,1.86,2.07,1.88,2.06,2.05,2.08,1.87,2.03,3.80,3.25,2.05,3.80,3.3,2.05,3.80,3.25,2.10,3.94,3.33,2.13,3.90,3.00,2.05,3.90,3.25,2.10,4.20,3.50,2.18,3.89,3.28,2.10,2.37,1.57,2.44,1.62,2.47,1.75,2.33,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
1,E0,14/08/2021,12:30,Man United,Leeds,5,1,H,1,0,H,P Tierney,16,10,8,3,11,9,5,4,1,2,0,0,1.53,4.50,5.75,1.53,4.50,5.75,1.55,4.40,5.75,1.56,4.57,5.96,1.52,4.33,5.80,1.55,4.40,6.00,1.59,4.65,6.35,1.55,4.48,5.87,1.61,2.30,1.67,2.32,1.71,2.38,1.65,2.29,-1.00,1.95,1.98,1.96,1.96,2.00,2.01,1.93,1.96,1.61,4.20,5.25,1.62,4.1,5.25,1.65,4.20,4.90,1.67,4.20,5.40,1.57,4.20,5.50,1.65,4.10,5.25,1.71,4.33,5.80,1.64,4.19,5.22,1.66,2.20,1.70,2.27,1.75,2.37,1.67,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
2,E0,14/08/2021,15:00,Burnley,Brighton,1,2,A,1,0,H,D Coote,14,14,3,8,10,7,7,6,2,1,0,0,3.10,3.10,2.45,3.20,3.10,2.40,3.15,3.05,2.45,3.30,3.12,2.51,3.20,3.00,2.45,3.13,3.10,2.45,3.33,3.20,2.60,3.19,3.09,2.49,2.50,1.53,2.56,1.56,2.56,1.63,2.46,1.57,0.25,1.80,2.14,1.83,2.12,1.83,2.17,1.79,2.12,3.10,3.10,2.45,3.25,3.1,2.40,3.10,3.05,2.45,3.27,3.14,2.51,3.10,3.00,2.45,3.13,3.13,2.50,3.35,3.20,2.56,3.19,3.10,2.48,2.30,1.61,2.33,1.67,2.42,1.71,2.34,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
3,E0,14/08/2021,15:00,Chelsea,Crystal Palace,3,0,H,2,0,H,J Moss,13,4,6,1,15,11,5,2,0,0,0,0,1.25,5.75,13.00,1.28,5.75,10.50,1.25,6.00,13.00,1.26,6.24,12.74,1.25,5.50,13.00,1.25,5.75,13.00,1.30,6.30,15.00,1.26,5.92,12.80,1.80,2.00,1.80,2.09,1.84,2.12,1.79,2.06,-1.50,1.84,2.09,1.79,2.12,1.93,2.12,1.83,2.07,1.30,5.25,11.00,1.33,5.0,10.00,1.30,5.25,11.00,1.34,5.40,11.00,1.30,5.25,10.00,1.33,5.00,11.00,1.36,5.50,11.50,1.33,5.17,10.58,1.90,1.90,1.93,1.98,1.96,2.07,1.90,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
4,E0,14/08/2021,15:00,Everton,Southampton,3,1,H,0,1,A,A Madley,14,6,6,3,13,15,6,8,2,0,0,0,1.90,3.50,4.00,1.95,3.50,3.90,1.95,3.45,3.95,2.01,3.56,4.10,1.95,3.40,4.00,1.95,3.40,4.10,2.04,3.66,4.25,1.97,3.53,4.04,2.00,1.80,2.14,1.78,2.14,1.85,2.07,1.79,-0.50,2.00,1.93,2.01,1.92,2.01,1.97,1.96,1.92,2.00,3.40,3.90,2.05,3.4,3.75,2.00,3.35,4.00,2.05,3.45,4.07,1.95,3.40,3.90,2.00,3.30,4.20,2.12,3.50,4.20,2.04,3.39,3.95,2.20,1.66,2.28,1.69,2.34,1.77,2.24,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86

# Question:
## Simple Stats
1. Fewest Total Cards: Which football teams have the fewest total number of cards (yellow + red)?
    - Man City : yellow cards = 42, red cards = 1, total cards = 43
2. Highest Average Goals per Game: Which team has the highest average number of goals scored per game this season?
    - Man City with 2.605263 
3. Most Clean Sheets: Which team has the most clean sheets in this season?
    - Liverpool and Man City, both with 21 clean sheets
    
## Advanced Stats
4. Winning Percentage above Third Quartile: Which football teams have the winning percentage above the third quartile?
    - 1 Man City : 76.32%
    - 2 Liverpool : 73.68%
    - 3 Arsenal : 57.89%
    - 4 Tottenham : 57.89%
    - 5 Chelsea : 55.26
5. Conversion Rates of Shots on Target and Total Shots: Which three football teams have the highest conversion rates of shots on target and total shots? (Considering specifically the team's finishing ability)
    - Man City, West Ham, and Liverpool

## 1. Which football teams have the  fewest total number of cards (yellow + red)?

In [68]:
df_y = df[['HomeTeam','AwayTeam','HY','AY','HR','AR']]

In [69]:
home_c =  df_y.groupby('HomeTeam')[['HY','HR']].sum().reset_index()
away_c =  df_y.groupby('AwayTeam')[['AY','AR']].sum().reset_index()

# Merge data
c_count = home_c.merge(away_c, how='outer', left_on='HomeTeam', right_on='AwayTeam')
c_count = c_count.drop(['AwayTeam'], axis=1)
c_count.rename(columns={"HomeTeam": "Team"}, inplace=True)
c_count = c_count.set_index('Team')

# Calculate total cards
c_count["Total Yellow Cards"] = c_count["HY"] + c_count["AY"]
c_count["Total Red Cards"] = c_count["HR"] + c_count["AR"]
c_count["Total Cards"] = c_count["Total Yellow Cards"] + c_count["Total Red Cards"]

# Display the team that received the fewest total cards
c_count[c_count['Total Cards'] == c_count['Total Cards'].min()].iloc[:,-3:]

          Total Yellow Cards  Total Red Cards  Total Cards
Team
Man City                  42                1           43

## 2. Which team has the highest average number of goals scored per game this season? 
average number of goals scored per game

In [70]:
df1 = df[['HomeTeam','AwayTeam','FTHG','FTAG']]

In [71]:
home_goals = df1.groupby('HomeTeam')['FTHG'].sum().reset_index(name='Home Goals')
away_goals = df1.groupby('AwayTeam')['FTAG'].sum().reset_index(name='Away Goals')

home_m = df1.groupby('HomeTeam').size().reset_index(name = 'Total Matches')

# Merge data
team_goals = home_goals.merge(away_goals, how='outer', left_on='HomeTeam', right_on='AwayTeam')
team_goals = team_goals.merge(home_m, how='outer', left_on='HomeTeam', right_on='HomeTeam')

# HomeTeam 19 m, AwayTeam 19 m
team_goals['Total Matches'] = team_goals['Total Matches']*2

# Drop column, rename 'HomeTeam', and set 'Team' as the index
team_goals = team_goals.drop(['AwayTeam'], axis=1)
team_goals.rename(columns={"HomeTeam": "Team"}, inplace=True)
team_goals = team_goals.set_index('Team')

# Calculate Average Goals per Game
team_goals["Total Goals"] = team_goals["Home Goals"] + team_goals["Away Goals"]
team_goals["Average Goals per Game"] = team_goals["Total Goals"] / team_goals['Total Matches']

# Display the team that scored the most goals
team_goals.sort_values(by = 'Average Goals per Game', ascending = False).iloc[:1,-1:]

          Average Goals per Game
Team
Man City                2.605263

## 3. Which team has the most clean sheets in this season?

In [72]:
df_cs = df[['HomeTeam','AwayTeam','FTHG','FTAG']]

In [74]:
home_cs = df_cs[df_cs['FTAG'] == 0].groupby('HomeTeam')['FTAG'].size().reset_index(name='clean sheets_home')
away_cs = df_cs[df_cs['FTHG'] == 0].groupby('AwayTeam')['FTHG'].size().reset_index(name='clean sheets_away')

team_cs = away_cs.merge(home_cs, how='outer', left_on='AwayTeam', right_on='HomeTeam').fillna(0)
team_cs = team_cs.drop(['HomeTeam'], axis=1)
team_cs.rename(columns={"AwayTeam": "Team"}, inplace=True)

team_cs["Total Clean Sheets"] = team_cs["clean sheets_home"] + team_cs["clean sheets_away"]

# Display team that had the most clean sheets
team_cs[team_cs["Total Clean Sheets"] == team_cs["Total Clean Sheets"].max()]

         Team  clean sheets_away  clean sheets_home  Total Clean Sheets
10  Liverpool                  9                 12                  21
11   Man City                 10                 11                  21

## 4. Which football teams have the winning percentage above the third quartile?
sorted by winning percentage

In [75]:
df_won = df[['HomeTeam','AwayTeam','FTR']]

In [76]:
home_won = df_won[df_won['FTR'] == 'H'].groupby('HomeTeam')['FTR'].size().reset_index()
away_won = df_won[df_won['FTR'] == 'A'].groupby('AwayTeam')['FTR'].size().reset_index()

home_m = df_won.groupby('HomeTeam').size().reset_index(name = 'TotalMatches')

In [78]:
team_won = home_won.merge(away_won, how='outer', left_on='HomeTeam', right_on='AwayTeam', suffixes=('_home', '_away'))
team_won = team_won.merge(home_m, how='outer', left_on='HomeTeam', right_on='HomeTeam')

# HomeTeam 19 m, AwayTeam 19 m
team_won['TotalMatches'] = team_won['TotalMatches']*2

# Merge data, Drop 'AwayTeam' column, rename 'HomeTeam', and set 'Team' as the index
team_won.drop(['AwayTeam'], axis=1, inplace=True)
team_won.rename(columns={"HomeTeam": "Team"}, inplace=True)
team_won.set_index('Team', inplace=True)

# Calculate total won matches
team_won["TotalWonMatches"] = team_won["FTR_home"] + team_won["FTR_away"]
team_won['WinningRate'] = (team_won["TotalWonMatches"] / team_won['TotalMatches']) * 100
team_won['WinningRate'] = team_won['WinningRate'].round(2)

# Display the result
team_won[team_won['WinningRate'] > team_won['WinningRate'].quantile(0.75)].sort_values(by = 'WinningRate', ascending = False).iloc[:,-2:]

           TotalWonMatches  WinningRate
Team
Man City                29        76.32
Liverpool               28        73.68
Arsenal                 22        57.89
Tottenham               22        57.89
Chelsea                 21        55.26

## 5. Which three football teams have the highest conversion rates of shots on target and total shots? 
- Sorted by the conversion rate of shots on target, and then by the conversion rate of total shots
- Considering specifically the team's finishing ability with their conversion rate of shots on target (while conversion rates of total shots  reflect overall goal-scoring efficiency)
- Conversion rates in football represent the efficiency of a team in turning their shots into goals, providing insights into their attacking ability.

In [79]:
df_shot = df[['HomeTeam','AwayTeam','FTHG','FTAG','HS','AS','HST','AST']]

In [81]:
home_shots = df_shot.groupby('HomeTeam')[['FTHG','HST','HS']].sum().reset_index()
away_shots = df_shot.groupby('AwayTeam')[['FTAG','AST','AS']].sum().reset_index()

# Merge data, Drop 'AwayTeam' column, rename 'HomeTeam', and set 'Team' as the index
team_shots = home_shots.merge(away_shots, how='outer', left_on = 'HomeTeam', right_on = 'AwayTeam').fillna(0)
team_shots.drop(['AwayTeam'], axis=1, inplace=True)
team_shots.rename(columns={"HomeTeam": "Team"}, inplace=True)
team_shots.set_index('Team', inplace=True)

# Calculate 
team_shots["Total Shots"] = team_shots["HS"] + team_shots["AS"]
team_shots["Shots on target"] = team_shots["HST"] + team_shots["AST"]
team_shots["Goals"] = team_shots["FTHG"] + team_shots["FTAG"]

team_shots['Conversion rate of shots'] = ( team_shots['Goals'] / team_shots['Total Shots'] )*100
team_shots['Conversion rate of shots on target'] = ( team_shots['Goals'] / team_shots['Shots on target'] )*100

team_shots['Conversion rate of shots']  = team_shots['Conversion rate of shots'].round(2)
team_shots['Conversion rate of shots on target'] = team_shots['Conversion rate of shots on target'].round(2)

# Display three football teams that have the highest conversion rates of shots on target
team_shots.sort_values(by = ['Conversion rate of shots on target','Conversion rate of shots'], ascending = False).iloc[:3,6:]

,Total Shots,Shots on target,Goals,Conversion rate of shots,Conversion rate of shots on target
Team,,,,,
Man City,715,254,99,13.85,38.98
West Ham,433,158,60,13.86,37.97
Liverpool,730,256,94,12.88,36.72